<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" (click)="route('')">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="route('cars')">Cars</a>
        </li>
        <li class="nav-item" *ngIf="token">
          <a class="nav-link"(click)="route('cars/create')">Create car</a>
        </li>
        <li class="nav-item" *ngIf="token">
          <a class="nav-link"(click)="route('cars/mine')">My cars</a>
        </li>
        <li class="nav-item" *ngIf="token">
            <a class="nav-link"(click)="route('dealers/me')">Profile</a>
          </li>
        <li class="nav-item" *ngIf="token">
            <a class="nav-link"(click)="logout()">Logout</a>
          </li>
          <li class="nav-item" *ngIf="!token">
            <a class="nav-link" (click)="route('auth')">Login</a>
          </li>
      </ul>
    </div>
  </nav>