<div class="container">
    <div class="row" *ngIf="user">
            <div class="col-lg-5">
                <form [formGroup]="profileForm" (ngSubmit)="editProfile()" >
                    <div class="form-group">
                        <label>Name</label>
                        <input type="name" class="form-control" formControlName="name">
                    </div>
                    <div class="form-group">
                        <label>Phone</label>
                        <input type="text" class="form-control" formControlName="phoneNumber">
                    </div>
                    <button type="submit" class="btn btn-primary" [disabled]="profileForm.invalid">Edit</button>
                </form>
            </div>

            <div class="col-lg-1"></div>

            <div class="col-lg-5">
                <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
                    <div class="form-group">
                        <label>Current password</label>
                        <input type="password" class="form-control" formControlName="currentPassword">
                    </div>
                    <div class="form-group">
                        <label>New password</label>
                        <input type="password" class="form-control" formControlName="newPassword">
                    </div>
                    <button type="submit" class="btn btn-primary" [disabled]="changePasswordForm.invalid">Change password</button>
                </form>
            </div>
        </div>
    </div>
    
