<form [formGroup]="searchForm" (ngSubmit)="search()" >
    <div class="form-group">
      <label for="exampleFormControlInput1">Manifacturer: </label>
      <input type="text" class="form-control" formControlName="manufacturer">
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Dealer name: </label>
      <input type="text" class="form-control" formControlName="dealer">
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Category:</label>
      <select class="form-control" id="exampleFormControlSelect1" formControlName="category">
        <option *ngFor="let c of categories" [ngValue]="c.id">{{c.name}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect2">Select min price per day: </label>
      <input type="number" class="form-control" formControlName="minPricePerDay">
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect2">Select max price per day: </label>
      <input type="number" class="form-control" formControlName="maxPricePerDay">
    </div>
    <button class="btn btn-primary" type="submit">Search</button>
  </form>
